@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gowun+Batang:wght@400;700&display=swap');

body {
    background: greenyellow;
    background-color: #EDDFEF;
    font-family:"Playwrite DE Grund";
    margin: 0;
    padding: 0; 
}
h2{
    margin: 0;
}
header{
    background-color: #EDDFEF;
    
}
nav a:hover{
    background-color: #820263;
    color: black;
}
.book, .join{
    background-color: #EDDFEF;
    color:#820263;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #727D71;
    color: #820263;
}
 #content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
  text-align: center;
  background-color: white;
  color: #757780;
  text-decoration: none;
  padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #727D71;
}
.msg{
    background-color: #EDDFEF;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #727D71;
    color: #820263;
    text-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.8),   /* Black shadow, closer */
    -2px -2px 5px rgba(255, 255, 255, 0.8); /* White shadow, farther */
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    background-color: #EDDFEF;
    color: #EDDFEF;
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
footer a:hover{
    background-color: #820263;
}
footer .social img{
    padding-top: 15px;
}
h4{
    background-color: #820263;
    color: #EDDFEF;
    padding: 5px;
}
.msg p{
    background-color: #727D71;
    color: #820263;
    font-size: .8em;
    padding-bottom: 15px;
}
.msg h2{
    background-color: #727D71;
    color: black;
    font-family:"Playwrite DE Grund"; 
}
.home-title{
    background-color: #727D71;
    color: black;
    font-family: "Bebas Neue";
    font-size: 2em;
    margin-top: 10px;
}
.icon{
    width: 80px;
}
.icon, .logo{
    width: 80px;
}
#hero-img{
    width: 100%;
}
#logo_link{
    padding-top: 5px;
}
.river-cards, .camping-card, .rapid-card{
    margin: 200px 0;
}
main section img{
    box-sizing: border-box;
}
.card-img{
    border: 10px solid #727D71;
}
