img{
    width: 40%;
    background-color: mediumspringgreen;
    margin: 0 auto;
    padding: 20px;
}
p{
    padding: 20px;
    background-color: black;
    color: mediumspringgreen;
    border: double;
}
body{
    background: #333333;
    
}
h1{
    background-color: black;
    color: mediumspringgreen;
}
hr{
    height: 5px;
    background-color: darkred;
    border: none;
}
.headhr{
    height: 5px;
    background-color: darkred;
    border: none;
}