img{
    width: 40%;
    background-color: mediumseagreen;
    margin: 50px 30%;
    padding: 40px;
    border: groove 3px black;
}
p{
    padding: 20px;
    background-color: black;
    color: mediumspringgreen;
    border: double;
}
body{
    background: #333333;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
}
h1{
    background-color: black;
    color: mediumspringgreen;
}
hr{
    height: 10px;
    background-color: black;
    border: none;
}
.headhr{
    height: 5px;
    background-color: mediumspringgreen;
    border: none;
}

nav a{
    background: black;
    color: mediumseagreen;
    text-decoration: none;
}
nav a:hover{
    color: white;
}
.navhr {
    height: 3px;
    background-color: mediumseagreen;
    border: none;
    margin: 2px auto;
}
